/** Dice Roller View CSS */

.dice-roller-view .dice-view-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.dice-roller-view .setting-editor-extra-setting-button {
    width: fit-content;
}

.dice-roller-view .dice-button .clickable-icon > svg {
    width: 36px;
    height: 36px;
}

.dice-roller-view .dice-view-formula {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
