.dice-roller-settings .dice-icons > span {
    display: block;
    text-align: center;
    color: var(--text-muted);
}

.dice-roller-settings .dice-icons.has-table {
    padding-left: 0px;
    padding-right: 0px;
}
.dice-roller-settings .buttons-table {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
.dice-roller-settings .icons-table-row {
    display: contents;
}

.dice-roller-settings .icons-table-row .actions {
    display: flex;
    align-items: center;
}
.dice-roller-settings .icons-table-row .shape {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dice-roller-settings .add-new .shape {
    padding: 0 0.5rem;
}
.dice-roller-settings .add-new .formula {
    display: flex;
    gap: 0.5rem;
}

details.dice-roller-nested-settings > summary {
    outline: none;
    display: block !important;
    list-style: none !important;
    list-style-type: none !important;
    min-height: 1rem;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    cursor: pointer;
    position: relative;
}

details.dice-roller-nested-settings > summary::-webkit-details-marker,
details.dice-roller-nested-settings > summary::marker {
    display: none !important;
}

details.dice-roller-nested-settings > summary > .collapser {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    content: "";
}

details.dice-roller-nested-settings > summary > .collapser > .handle {
    transform: rotate(0deg);
    transition: transform 0.25s;
}

details.dice-roller-nested-settings[open] > summary > .collapser > .handle {
    transform: rotate(90deg);
}

.template-edit {
    display: grid;
    grid-template-columns: 1fr auto;
}
.template-edit .actions {
    display: flex;
    align-items: center;
}

.template-input {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.template-input .setting-item {
    border: 0;
}
.template-input .folder-input,
.template-input input {
    width: 100%;
}
